<div class="content">
  <!-- tabla general con la información principal del destino y origen deseados -->
  <div class="table-responsive">
    <table class="table table-bordered" id="tabla1">
      <tr>
        <th>Origen</th>
        <td>{{journey.origin}}</td>
      </tr>
      <tr>
        <th>Destino</th>
        <td>{{journey.destination}}</td>
      </tr>
      <tr>
        <th>Precio</th>
        <td>{{journey.price}}</td>
      </tr>
      <tr *ngIf="journey.flight.length === 1">
        <th>Número de vuelo</th>
        <td>{{journey.flight[0].transport.flightNumber}}</td>
      </tr>
    </table>
    <!-- fin tabla -->
    <!-- Segunda tabla en el caso de haber más de un vuelo -->
    <table *ngIf="journey.flight.length > 1" class="table table-bordered" id="tabla2">
      <thead>
        <tr>
          <th>#</th>
          <th>Punto de partida</th>
          <th>Punto de llegada</th>
          <th>Precio</th>
          <th>Compañía aérea</th>
          <th>Número del vuelo</th>
        </tr>
      </thead>
      <tbody *ngIf="journey.flight.length > 1">
        <tr *ngFor="let data of journey.flight; let i = index">
          <td style="font-weight: bold;">
            {{i + 1}}
          </td>
          <td>
            {{data.origin}}
          </td>
          <td>
            {{data.destination}}
          </td>
          <td>
            {{data.prices}}
          </td>
          <td>
            {{data.transport.flightCarrier}}
          </td>
          <td>
            {{data.transport.flightNumber}}
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Fin tabla -->
  </div>
</div>
