<div class="content">
  <!-- tabla general con la información principal del destino y origen deseados -->
  <div class="tablas">
    <table class="mat-elevation-z8 tabla1" id="tabla">
      <tr>
        <th>Origen</th>
        <td>{{journey.origin}}</td>
      </tr>
      <tr>
        <th>Destino</th>
        <td>{{journey.destination}}</td>
      </tr>
      <tr>
        <th>Precio</th>
        <td>{{totalPrice}}</td>
      </tr>
      <tr *ngIf="!journey.flight[1]">
        <th>Numero de vuelo</th>
        <td>{{journey.flight[0].transport.flightNumber}}</td>
      </tr>
    </table>
    <!-- fin tabla -->
    <!-- Segunda tabla en el caso de haber más de un vuelo -->
    <table *ngIf="journey.flight[1]" class="mat-elevation-z8" id="tabla">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>Punto de partida</th>
          <th>Punto de llegada</th>
          <th>Precio</th>
          <th>Compañía aérea</th>
          <th>Número del vuelo</th>
        </tr>
      </thead>
      <tbody *ngIf="journey.flight[1]">
        <tr *ngFor="let data of journey.flight; let i = index">
          <td style="font-weight: bold;">
            {{i == 0 ? 'Primer vuelo: ': 'Segundo vuelo: '}}
          </td>
          <td>
            {{data.origin}}
          </td>
          <td>
            {{data.destination}}
          </td>
          <td>
            {{i == 0 ? firstPrice : secondPrice}}
          </td>
          <td>
            {{data.transport.flightCarrier}}
          </td>
          <td>
            {{data.transport.flightNumber}}
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Fin tabla -->
  </div>
</div>
